<!DOCTYPE html>
<html>  
    <head>

        <title> <%= locals.title %></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/home.css">
    </head>

</html>
    
<div class="home-page">
    <div class="app-heading">
        <h2 style="text-align: center"><%= title %> </h2>
    </div>
    <% if(locals.user){ %>
    <div id="feed-post">

        <h3> Make Your Post Here </h3>

        <form action="/posts/create" id="new-post-form" method="POST">

            <textarea  name="content" id="post-section" placeholder="Hey Whats on your Mind ..." rows="3">

            </textarea>
            <span>
            <input type="submit" value="POST" id="my-post">
            </span>

        </form>

    </div>
    <% } %>

    <div class="user-post-container">

        <div class="user-inside-container">
            <h3> Posts List</h3>
            <ul>
            <% for (post of posts) { %>


                <li>
                    <div class="user-post-list">
                     <%= post.content %> 
                     <small>
                      post by  <a href="/users/profile"><%= post.user.name %>  </a>
                    </small>
                    </div>
                    <div class="post-comments">
                        <% if(locals.user) {%>

                            <form action="/comments/create" method="POST">
                                
                                <input type="text" name="content" placeholder="Type Here to Add Comment ..." required>
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Add"> 

                            </form>

                        <% } %>

                        <div class="list-of-comments">

                            <ul id="post-comments-<%= post._id %>">

                                <% for(comment of post.comments) {%>

                                    <p> <%= comment.content %> <br>
                                        <br> commentted by<small><a href="/users/profile"><%= comment.user.name %> </small> </a>
                                    </p>

                                <%}%>

                            </ul>

                        </div>

                    </div>
                
                </li>

            <% } %>
       </ul>
    </div>

    </div>

</div>

