<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <!-- if any link tasgs insode the ejs files other then layout.ejs it will come here -->
        <%- style %>

    </head>
    <body>

        <%- include('_header'); %>  

        <%- body %>

        <%- include('_footer'); %>  

       
        <%- script %>
    </body>
</html>